Repository IAreKyleW00t/k2net, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/ansible, area/kubernetes, area/terraform, documentation

feat(external-dns): Increasing memory limits
  k8s/deploy/external-dns/main.yaml
Labels: area/kubernetes

fix(descheduler): Revert to v0.29.0
  k8s/deploy/descheduler/Chart.yaml
Labels: area/kubernetes

feat(terraform): Updating deprecated arguments
  terraform/dns.tf
Labels: area/terraform

fix(terraform): Removing deprecated Cloudflare settings
  terraform/zones.tf
Labels: area/terraform

feat: Adding CODEOWNERS
  CODEOWNERS
Labels: none

docs: Updating README
  README.md
Labels: documentation

docs: Updating README
  README.md
Labels: documentation

feat: Updating MongoDB to 5.0.29
  k8s/deploy/unifi/values.yaml
Labels: area/kubernetes

feat: Removing CODEOWNERS
  CODEOWNERS
Labels: none

fix: Switching back to MongoDB 4.4
  k8s/deploy/unifi/values.yaml
Labels: area/kubernetes

feat: Increasing RAM for HA
  k8s/deploy/home-assistant/main.yaml
Labels: area/kubernetes

feat: Disable linkerd for some apps
  k8s/deploy/starr-system/main.yaml
Labels: area/kubernetes

fix: Adding annotations to Pods
  k8s/deploy/starr-system/main.yaml
Labels: area/kubernetes

feat(k8s): Bumping k3s to v1.31.4+k3s1
  ansible/group_vars/k3s.yaml
Labels: area/ansible

feat: Removing linkerd
  k8s/deploy/bitwarden/main.yaml
  k8s/deploy/heimdall/main.yaml
  k8s/deploy/home-assistant/main.yaml
  k8s/deploy/ingress-nginx/templates/namespace.yaml
  k8s/deploy/minio/main.yaml
  k8s/deploy/mqtt/main.yaml
  k8s/deploy/rtorrent/main.yaml
  k8s/deploy/starr-system/main.yaml
  k8s/deploy/thelounge/main.yaml
  k8s/deploy/unifi/templates/namespace.yaml
  k8s/deploy/uptime-kuma/main.yaml
Labels: area/kubernetes

feat: Giving Home Assistant more startup time
  k8s/deploy/home-assistant/main.yaml
Labels: area/kubernetes

feat: Using IP for external-dns
  k8s/deploy/external-dns/main.yaml
Labels: area/kubernetes

fix: Adding renovate comment for pihole image
  ansible/group_vars/pihole.yaml
Labels: area/ansible

fix: Make terraform workflow update comment on change
  .github/workflows/terraform.yaml
Labels: area/github

feat: Use staging external-dns image for Pi-Hole v6
  k8s/deploy/external-dns/main.yaml
Labels: area/kubernetes

fix: Adding new external-dns pihole arg
  k8s/deploy/external-dns/main.yaml
Labels: area/kubernetes

fix: Adding new external-dns pihole arg
  k8s/deploy/external-dns/main.yaml
Labels: area/kubernetes

feat: Pi-Hole v6 updates
  ansible/group_vars/pihole.yaml
  ansible/roles/pihole/defaults/main.yaml
  ansible/roles/pihole/tasks/setup.yaml
Labels: area/ansible

feat: Updating nameserver
  k8s/deploy/unifi/templates/site-configs.yaml
Labels: area/kubernetes

fix(argocd): Ignoring spec.preserveUnknownFields for longhorn
  k8s/apps/longhorn.yaml
Labels: area/kubernetes

feat(terraform)!: Bump hashicorp/aws to 6.0.0
  terraform/versions.tf
Labels: area/terraform

feat(terraform)!: Bump hashicorp/aws to 6.0.0 (#1417)
  terraform/versions.tf
Labels: area/terraform

feat(container)!: update external-dns to v0.18.0
  k8s/deploy/external-dns/main.yaml
Labels: area/kubernetes

feat(k8s): Updating to v1.32.6+k3s1
  ansible/group_vars/k3s.yaml
Labels: area/ansible

feat(pihole): Adding rate-limit settings
  ansible/group_vars/pihole.yaml
  ansible/roles/pihole/defaults/main.yaml
  ansible/roles/pihole/tasks/setup.yaml
Labels: area/ansible

Revert "feat(helm): update helm release longhorn to v1.10.0 (#1560)"
  k8s/deploy/longhorn/Chart.yaml
Labels: area/kubernetes

Revert "feat(helm): update helm release longhorn to v1.10.0" (#1576)
  k8s/deploy/longhorn/Chart.yaml
Labels: area/kubernetes

fix: Updating default values to strings
  k8s/deploy/longhorn/values.yaml
Labels: area/kubernetes

Revert "feat(container)!: Update louislam/uptime-kuma Docker tag to v2 (#1595)"
  k8s/deploy/uptime-kuma/main.yaml
Labels: area/kubernetes

Revert "feat(container)!: Update louislam/uptime-kuma Docker tag to v2" (#1601)
  k8s/deploy/uptime-kuma/main.yaml
Labels: area/kubernetes

chore(terraform): Removing unused aws provider
  terraform/providers.tf
  terraform/versions.tf
Labels: area/terraform

chore(terraform): Removing unused providers
  terraform/versions.tf
Labels: area/terraform

feat: Adding wireguard
  k8s/apps/wireguard.yaml
  k8s/deploy/wireguard/main.yaml
Labels: area/kubernetes

fix(wireguard): Using correct UI port
  k8s/deploy/wireguard/main.yaml
Labels: area/kubernetes

fix(wireguard): Using full domain
  k8s/deploy/wireguard/main.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
          - .gitignore
area/ansible:
  - changed-files:
      - any-glob-to-any-file:
          - "ansible/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - "k8s/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file:
          - "terraform/**/*"
          - .terraformignore
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - README.md
          - LICENSE
