Repository IAreKyleW00t/k2net, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/ansible, area/kubernetes, area/terraform, documentation

Revert "feat(container): update linuxserver/qbittorrent docker tag to v4.6.0"
  ansible/group_vars/nas.yaml
  k8s/deploy/starr-system/main.yaml
Labels: area/ansible, area/kubernetes

feat(unifi): Updating to new unifi-network-application image
  k8s/deploy/unifi/Chart.yaml
  k8s/deploy/unifi/main.yaml
  k8s/deploy/unifi/templates/deploy.yaml
  k8s/deploy/unifi/templates/ingress.yaml
  k8s/deploy/unifi/templates/namespace.yaml
  k8s/deploy/unifi/templates/service.yaml
  k8s/deploy/unifi/templates/site-configs.yaml
  k8s/deploy/unifi/templates/volume.yaml
  k8s/deploy/unifi/values.yaml
Labels: area/kubernetes

fix(unifi): Updating permissions and adding db-wait container
  k8s/deploy/unifi/templates/deploy.yaml
  k8s/deploy/unifi/values.yaml
Labels: area/kubernetes

fix(mongodb): Adding emphemeral tmp directory
  k8s/deploy/unifi/values.yaml
Labels: area/kubernetes

fix(mongodb): Updating mount path for MongoDB data
  k8s/deploy/unifi/values.yaml
Labels: area/kubernetes

fix(mongodb): Updating initdb script
  k8s/deploy/unifi/values.yaml
Labels: area/kubernetes

fix(mongodb): Switching to Bitnami image
  k8s/deploy/unifi/values.yaml
Labels: area/kubernetes

fix(mongodb): Adding authentication to InitDB script
  k8s/deploy/unifi/values.yaml
Labels: area/kubernetes

fix(mongodb): Switching back to library MongoDB image
  k8s/deploy/unifi/values.yaml
Labels: area/kubernetes

fix(mongodb): Adding Readiness and Liveness probes, fixing resources, update strategy
  k8s/deploy/unifi/values.yaml
Labels: area/kubernetes

feat(qbittorrent): Adding incomplete-downloads folder
  k8s/deploy/starr-system/main.yaml
Labels: area/kubernetes

feat(unifi): Updating resources for UniFi and MongoDB
  k8s/deploy/unifi/templates/deploy.yaml
  k8s/deploy/unifi/values.yaml
Labels: area/kubernetes

fix(ansible): Ignoring SSH host keys
  ansible/group_vars/all.yaml
Labels: area/ansible

docs: Updating README with required local tools
  README.md
Labels: documentation

feat(status): Exposing status page
  ansible/group_vars/forward_proxy.yaml
  terraform/terraform.auto.tfvars
Labels: area/ansible, area/terraform

docs: Adding status badge to README
  README.md
Labels: documentation

docs: Updating status badge color
  README.md
Labels: documentation

feat(proxy): Restricting public access to admin paths
  ansible/group_vars/forward_proxy.yaml
Labels: area/ansible

docs: Updating README with Repobeats graph
  README.md
Labels: documentation

docs: Removing link from Repobeats graph
  README.md
Labels: documentation

docs: Removing link from Repobeats graph
  README.md
Labels: documentation

feat(actions): Moving Terraform summary to PR comments
  .github/workflows/terraform.yaml
Labels: area/github

fix(actions): Pinning actions to full version tag
  .github/workflows/terraform.yaml
Labels: area/github

feat(longhorn): Enabling automatic engine upgrades
  k8s/deploy/longhorn/values.yaml
Labels: area/kubernetes

fix(ansible): Improving starr-system shutdown checks for NAS
  ansible/roles/starr_system/tasks/shutdown.yaml
Labels: area/ansible

feat(minio): Adding MinIO instance
  ansible/group_vars/nas.yaml
  ansible/nas.yaml
  ansible/roles/minio/defaults/main.yaml
  ansible/roles/minio/tasks/files.yaml
  ansible/roles/minio/tasks/main.yaml
  ansible/roles/minio/tasks/setup.yaml
  ansible/roles/minio/tasks/shutdown.yaml
  ansible/roles/minio/templates/docker-compose.yaml.j2
  ansible/roles/minio/templates/env.j2
  ansible/roles/minio/vars/default.yaml
  ansible/roles/minio/vars/ubuntu.yaml
  k8s/apps/minio.yaml
  k8s/deploy/minio/main.yaml
Labels: area/ansible, area/kubernetes

fix(rtorrent): Renaming upstream Service
  k8s/deploy/rtorrent/main.yaml
Labels: area/kubernetes

feat(renovate): Attempting to pin MinIO version
  .github/renovate/versions.json
  ansible/group_vars/nas.yaml
Labels: area/github, area/ansible

fix(renovate): Updating MinIO versioning regex
  .github/renovate/versions.json
Labels: area/github

feat(terraform): Adding Backblaze B2 Bucket
  .github/workflows/terraform.yaml
  terraform/b2.tf
  terraform/providers.tf
  terraform/versions.tf
Labels: area/github, area/terraform

fix(actions): Add PR comment on error
  .github/workflows/terraform.yaml
Labels: area/github

fix(terraform): Fixing format
  terraform/versions.tf
Labels: area/terraform

Revert "feat(terraform): Adding Backblaze B2 Bucket"
  .github/workflows/terraform.yaml
  terraform/b2.tf
  terraform/providers.tf
  terraform/versions.tf
Labels: area/github, area/terraform

feat(terraform): Removing Backblaze B2 bucket
  terraform/b2.tf
Labels: area/terraform

fix(terraform): Removing default lifecycle rule
  terraform/b2.tf
Labels: area/terraform

fix(terraform): Adding file name prefix
  terraform/b2.tf
Labels: area/terraform

fix(terraform): Correcting days_from_hiding_to_deleting value
  terraform/b2.tf
Labels: area/terraform

feat(longhorn): Switching to Backblaze for backups
  k8s/deploy/longhorn/values.yaml
  k8s/prep/longhorn/secret.yaml
Labels: area/kubernetes

feat(longhorn): Switching Backblaze region to us-east
  k8s/deploy/longhorn/values.yaml
Labels: area/kubernetes

feat(terraform): Creating CDN through Cloudflare and Backblaze
  terraform/b2.tf
  terraform/data.tf
  terraform/dns.tf
  terraform/locals.tf
  terraform/zone_rules.tf
  terraform/zones.tf
Labels: area/terraform

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
  - .gitignore
area/ansible:
  - "ansible/**/*"
area/kubernetes:
  - "k8s/**/*"
area/terraform:
  - "terraform/**/*"
  - .terraformignore
documentation:
  - README.md
  - LICENSE
