Repository IAreKyleW00t/k2net, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/ansible, area/kubernetes, area/terraform, documentation

feat(proxy): Updating socat command
  ansible/roles/forward_proxy/tasks/ports.yaml
Labels: area/ansible

fix(proxy): Changing to better UDP options
  ansible/roles/forward_proxy/tasks/ports.yaml
Labels: area/ansible

feat(proxy): Adding memory limits to Caddy and socat
  ansible/roles/forward_proxy/tasks/ports.yaml
  ansible/roles/forward_proxy/tasks/setup.yaml
Labels: area/ansible

feat(proxy): Removing removing unnecessary UniFi ports
  ansible/group_vars/forward_proxy.yaml
  terraform/terraform.auto.tfvars
Labels: area/ansible, area/terraform

fix(proxy): Updating socat args for UDP
  ansible/roles/forward_proxy/tasks/ports.yaml
Labels: area/ansible

feat(ansible): Cleaning up socat commands
  ansible/roles/forward_proxy/tasks/ports.yaml
Labels: area/ansible

fix(kubernetes): Removing misspelled reloader folder
  k8s/deploy/realoader/Chart.yaml
  k8s/deploy/realoader/values.yaml
Labels: area/kubernetes

fix(minio): Removing FIPS tag
  ansible/group_vars/nas.yaml
Labels: area/ansible

fix(renovate): Removing global options
  .github/renovate.json
Labels: area/github

feat(helm): Updating values for ArgoCD v6 chart
  k8s/deploy/argocd/values.yaml
Labels: area/kubernetes

fix(renovate): Adding k8s templates within Meta-Charts
  .github/renovate.json
Labels: area/github

feat(renovate): Enable automatic version bump with dependency updates
  .github/renovate.json
Labels: area/github

feat(ansible): Setting netclient version after install
  ansible/group_vars/all.yaml
  ansible/roles/common/defaults/main.yaml
  ansible/roles/common/tasks/netclient.yaml
Labels: area/ansible

chore(ansible): Removing old netmaker server configs
  ansible/group_vars/netmaker.yaml
  ansible/inventory
  ansible/netmaker.yaml
Labels: area/ansible

feat(actions): Switching to aws-actions/configure-aws-credentials action
  .github/workflows/terraform.yaml
Labels: area/github

fix(actions): Correcting YAML indentation
  .github/workflows/terraform.yaml
Labels: area/github

feat(netclient): Running internal netclient gateway in k8s
  k8s/deploy/netclient/main.yaml
Labels: area/kubernetes

fix(renovate): Correcting Helm file matches
  .github/renovate.json
Labels: area/github

fix(renovate): Excluding fips tag from minio
  .github/renovate/versions.json
Labels: area/github

Revert "feat(container): update mongodb docker tag to v14.9.4"
  k8s/deploy/unifi/Chart.yaml
Labels: area/kubernetes

fix(mongodb): Updating Docker registry
  k8s/deploy/unifi/values.yaml
Labels: area/kubernetes

fix(netclient): Not setting version
  ansible/roles/common/tasks/netclient.yaml
Labels: area/ansible

feat(descheduler): Adding descheduler
  k8s/apps/descheduler.yaml
  k8s/deploy/descheduler/Chart.yaml
  k8s/deploy/descheduler/values.yaml
Labels: area/kubernetes

feat(descheduler): Adjusting LowNodeUtilization thresholds
  k8s/deploy/descheduler/values.yaml
Labels: area/kubernetes

feat(descheduler): Adjusting LowNodeUtilization thresholds
  k8s/deploy/descheduler/values.yaml
Labels: area/kubernetes

feat(descheduler): Adjusting LowNodeUtilization thresholds
  k8s/deploy/descheduler/values.yaml
Labels: area/kubernetes

feat(descheduler): Adjusting LowNodeUtilization thresholds
  k8s/deploy/descheduler/values.yaml
Labels: area/kubernetes

feat(kubernetes): Increasing and matching memory requests
  k8s/deploy/bitwarden/main.yaml
  k8s/deploy/external-dns/main.yaml
  k8s/deploy/heimdall/main.yaml
  k8s/deploy/home-assistant/main.yaml
  k8s/deploy/mqtt/main.yaml
  k8s/deploy/starr-system/main.yaml
  k8s/deploy/thelounge/main.yaml
  k8s/deploy/unifi/templates/deploy.yaml
  k8s/deploy/unifi/values.yaml
  k8s/deploy/uptime-kuma/main.yaml
Labels: area/kubernetes

feat(ansible): Adding WireGuard role
  ansible/roles/wireguard/defaults/main.yaml
  ansible/roles/wireguard/tasks/files.yaml
  ansible/roles/wireguard/tasks/main.yaml
  ansible/roles/wireguard/tasks/setup.yaml
Labels: area/ansible

docs: Updating README
  README.md
Labels: documentation

feat(linkerd): Switching to CNI plugin
  k8s/deploy/linkerd/Chart.yaml
  k8s/deploy/linkerd/values.yaml
Labels: area/kubernetes

fix(linkerd): Switching to iptables-nft
  k8s/deploy/linkerd/values.yaml
Labels: area/kubernetes

fix(linkerd): Changing CNI directory for k3s
  k8s/deploy/linkerd/values.yaml
Labels: area/kubernetes

feat(linkerd): Enabling CNI for k3s
  k8s/deploy/linkerd/values.yaml
Labels: area/kubernetes

fix(unifi): Changing init user for linkerd
  k8s/deploy/unifi/templates/deploy.yaml
Labels: area/kubernetes

feat(starr-system): Enabling linkerd again
  k8s/deploy/starr-system/main.yaml
Labels: area/kubernetes

fix(loki): Setting SingleBinary deploymentMode
  k8s/deploy/loki/values.yaml
Labels: area/kubernetes

fix(loki): Updating SingleBinary deployment
  k8s/deploy/loki/values.yaml
Labels: area/kubernetes

feat(loki): Updating to new Loki schema
  k8s/deploy/loki/values.yaml
Labels: area/kubernetes

Revert "feat(helm): update helm release loki to v6.1.0"
  k8s/deploy/loki/Chart.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
          - .gitignore
area/ansible:
  - changed-files:
      - any-glob-to-any-file:
          - "ansible/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - "k8s/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file:
          - "terraform/**/*"
          - .terraformignore
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - README.md
          - LICENSE
