Repository IAreKyleW00t/k2net, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/ansible, area/kubernetes, area/terraform, documentation

fix(actions): Updating paths for Terraform
  .github/workflows/terraform.yaml
Labels: area/github

feat(actions): Adding apply output to Terraform summary
  .github/workflows/terraform.yaml
Labels: area/github

fix(actions): Updating fail conditions for Terraform
  .github/workflows/terraform.yaml
Labels: area/github

fix(actions): Stripping color output
  .github/workflows/terraform.yaml
Labels: area/github

feat(renovate): Adding GH Action commit messages
  .github/renovate/semanticCommits.json
Labels: area/github

feat(renovate): Pinning GH Action versions to digests
  .github/renovate.json
Labels: area/github

fix(renovate): Updating commit message for k3s updates
  .github/renovate/semanticCommits.json
Labels: area/github

feat(starr): Adding starr-system to NAS
  ansible/group_vars/nas.yaml
  ansible/host_vars/euclase.yaml
  ansible/inventory
  ansible/nas.yaml
  ansible/roles/starr_system/defaults/main.yaml
  ansible/roles/starr_system/tasks/files.yaml
  ansible/roles/starr_system/tasks/main.yaml
  ansible/roles/starr_system/tasks/setup.yaml
  ansible/roles/starr_system/tasks/shutdown.yaml
  ansible/roles/starr_system/templates/docker-compose.yaml.j2
  ansible/roles/starr_system/templates/env.j2
  ansible/roles/starr_system/vars/default.yaml
  ansible/roles/starr_system/vars/ubuntu.yaml
  k8s/apps/starr-system.yaml
  k8s/deploy/starr-system/main.yaml
Labels: area/ansible, area/kubernetes

feat(starr): Enabling Renovate for starr-system
  ansible/group_vars/nas.yaml
Labels: area/ansible

fix(renovate): Excluding invalid docker tags for starr-system
  .github/renovate/versions.json
Labels: area/github

fix(renovate): Excluding invalid docker tags for starr-system
  .github/renovate/versions.json
Labels: area/github

fix(ansible): Updating default ports for Sonarr and Radarr
  ansible/roles/starr_system/defaults/main.yaml
Labels: area/ansible

feat(renovate): Detecting proper versions for Prowlarr, Radarr, and Sonarr images
  ansible/group_vars/nas.yaml
Labels: area/ansible

fix(renovate): Igorning stale Prowlarr version
  .github/renovate/versions.json
Labels: area/github

fix(renovate): Igorning stale Prowlarr version
  .github/renovate/versions.json
Labels: area/github

fix(renovate): Igorning stale Prowlarr version
  .github/renovate/versions.json
Labels: area/github

docs: Updating README
  README.md
Labels: documentation

fix(kubernetes): Adding annotations for starr-system Ingress
  k8s/deploy/starr-system/main.yaml
Labels: area/kubernetes

feat(kubernetes): Switching to Let's Encrypt Prod for starr-system
  k8s/deploy/starr-system/main.yaml
Labels: area/kubernetes

fix(ansible): Using Cloudflare for upstream DNS
  ansible/group_vars/netmaker.yaml
  ansible/group_vars/pihole.yaml
Labels: area/ansible

fix(kubernetes): Updating CPU and memory limits
  k8s/deploy/bitwarden/main.yaml
  k8s/deploy/heimdall/main.yaml
  k8s/deploy/home-assistant/main.yaml
  k8s/deploy/mqtt/main.yaml
  k8s/deploy/thelounge/main.yaml
  k8s/deploy/unifi/main.yaml
  k8s/deploy/uptime-kuma/main.yaml
Labels: area/kubernetes

feat(kubernetes): Moving starr-system applications into cluster
  k8s/deploy/starr-system/main.yaml
Labels: area/kubernetes

feat(kubernetes): Switching to Let's Encrypt Prod for starr-system
  k8s/deploy/starr-system/main.yaml
Labels: area/kubernetes

feat(kubernetes): Adding Reloader
  k8s/apps/reloader.yaml
  k8s/deploy/realoader/Chart.yaml
  k8s/deploy/realoader/values.yaml
Labels: area/kubernetes

feat(kubernetes): Adding Reloader
  k8s/apps/reloader.yaml
  k8s/deploy/reloader/Chart.yaml
  k8s/deploy/reloader/values.yaml
Labels: area/kubernetes

feat(network): Switching to BGP
  ansible/group_vars/forward_proxy.yaml
  k8s/deploy/ingress-nginx/values.yaml
  k8s/deploy/metallb/templates/home.yaml
  k8s/deploy/unifi/main.yaml
Labels: area/ansible, area/kubernetes

feat(unifi): Updating USG internal nameservers
  k8s/deploy/unifi/main.yaml
Labels: area/kubernetes

feat(kubernetes): Enabling reloader for Unifi site-configs
  k8s/deploy/unifi/main.yaml
Labels: area/kubernetes

feat(helm): Updating Longhorn values
  k8s/deploy/longhorn/values.yaml
Labels: area/kubernetes

feat(kubernetes): Updating PV and Pod resources
  k8s/deploy/starr-system/main.yaml
Labels: area/kubernetes

feat(kubernetes): Adding additional worker nodes
  ansible/group_vars/k3s.yaml
  ansible/host_vars/wyse-2.yaml
  ansible/host_vars/wyse-3.yaml
  ansible/host_vars/wyse-4.yaml
  ansible/host_vars/wyse-5.yaml
  ansible/inventory
  k8s/deploy/unifi/main.yaml
Labels: area/ansible, area/kubernetes

fix(kubernetes): Disabling PodDisruptionBudget for policy-controller
  k8s/deploy/policy-controller/values.yaml
Labels: area/kubernetes

feat(ansible): Updating k3s install and upgrade process
  ansible/roles/k3s/tasks/main.yaml
  ansible/roles/k3s/tasks/setup/agent.yaml
  ansible/roles/k3s/tasks/setup/server.yaml
Labels: area/ansible

Revert "feat(helm): update helm release ingress-nginx to v4.8.0"
  k8s/deploy/ingress-nginx/Chart.yaml
Labels: area/kubernetes

Revert "feat(helm): update helm release ingress-nginx to v4.8.0"
  k8s/deploy/ingress-nginx/Chart.yaml
Labels: area/kubernetes

Revert "feat(helm): update helm release ingress-nginx to v4.8.0"
  k8s/deploy/ingress-nginx/Chart.yaml
Labels: area/kubernetes

fix(kubernetes): Setting nginx.ingress.kubernetes.io/backend-protocol value to uppercase
  k8s/deploy/argocd/values.yaml
  k8s/deploy/unifi/main.yaml
Labels: area/kubernetes

feat(dns): Have cloud instances use private IP by default for DNS
  ansible/host_vars/forward-proxy.yaml
  terraform/security-groups.tf
Labels: area/ansible, area/terraform

fix(terraform): Adding DNS Security Group to EC2 instance
  terraform/instances.tf
Labels: area/terraform

feat(container): Switching Uptime Kuma image tag to Debian
  k8s/deploy/uptime-kuma/main.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - ".github/**/*"
  - .gitignore
area/ansible:
  - "ansible/**/*"
area/kubernetes:
  - "k8s/**/*"
area/terraform:
  - "terraform/**/*"
  - .terraformignore
documentation:
  - README.md
  - LICENSE
