Repository IAreKyleW00t/k2net, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/ansible, area/kubernetes, area/terraform, documentation

feat(terraform): Adding vpn CNAME
  terraform/terraform.auto.tfvars
Labels: area/terraform

feat(wireguard): Updating wireguard setup
  ansible/group_vars/wireguard.yaml
  ansible/inventory
  ansible/roles/wireguard/defaults/main.yaml
  ansible/roles/wireguard/tasks/setup.yaml
  ansible/wireguard.yaml
Labels: area/ansible

chore: Updating for wg-easy versioning
  ansible/group_vars/wireguard.yaml
Labels: area/ansible

chore(wireguard): Cleanup old files
  ansible/roles/wireguard/tasks/files.yaml
Labels: area/ansible

feat(wireguard): Switching to wg-portal
  ansible/group_vars/wireguard.yaml
  ansible/roles/wireguard/defaults/main.yaml
  ansible/roles/wireguard/tasks/files.yaml
  ansible/roles/wireguard/tasks/setup.yaml
  ansible/roles/wireguard/templates/config.yaml.j2
Labels: area/ansible

chore(wireguard): Removing common
  ansible/wireguard.yaml
Labels: area/ansible

feat(wireguard): Enable DB encryption
  ansible/group_vars/wireguard.yaml
Labels: area/ansible

fix(wireguard): Making config not readable to everyone
  ansible/roles/wireguard/tasks/files.yaml
Labels: area/ansible

fix(argocd): Using server-side apply
  k8s/apps/argocd.yaml
Labels: area/kubernetes

fix(longhorn): v1.11.0-hotfix-1
  k8s/deploy/longhorn/values.yaml
Labels: area/kubernetes

fix(pihole): Increasing shm_size for container
  ansible/roles/pihole/defaults/main.yaml
  ansible/roles/pihole/tasks/setup.yaml
Labels: area/ansible

Revert "feat(container): update louislam/uptime-kuma docker tag to v2.1.0 (#1…"
  k8s/deploy/uptime-kuma/main.yaml
Labels: area/kubernetes

Revert "feat(container): update louislam/uptime-kuma docker tag to v2.1.0" (#1731)
  k8s/deploy/uptime-kuma/main.yaml
Labels: area/kubernetes

feat(ansible): Updating deprecated ansible_facts
  ansible/roles/common/tasks/docker.yaml
  ansible/roles/common/templates/dnsmasq.conf.j2
  ansible/roles/common/templates/resolv.conf.j2
  ansible/roles/common/templates/rsyslog.conf.j2
  ansible/roles/forward_proxy/templates/Caddyfile.j2
  ansible/roles/k3s/tasks/shutdown.yaml
  ansible/roles/k3s/templates/multipath.conf.j2
  ansible/roles/k3s/templates/resolv.conf.j2
  ansible/roles/minio/tasks/main.yaml
  ansible/roles/minio/templates/docker-compose.yaml.j2
  ansible/roles/minio/templates/env.j2
  ansible/roles/pihole/templates/resolv.conf.j2
  ansible/roles/starr_system/tasks/main.yaml
  ansible/roles/starr_system/templates/docker-compose.yaml.j2
  ansible/roles/starr_system/templates/env.j2
Labels: area/ansible

fix(k3s): Rollback to v1.34.1+k3s1
  ansible/group_vars/k3s.yaml
Labels: area/ansible

chore: Removing delay
  ansible/roles/k3s/tasks/shutdown.yaml
Labels: area/ansible

feat(k3s): Bumping version to v1.34.3+k3s3
  ansible/group_vars/k3s.yaml
Labels: area/ansible

fix(uptime-kuma): Increasing initialDelaySeconds
  k8s/deploy/uptime-kuma/main.yaml
Labels: area/kubernetes

Revert "feat(container): update louislam/uptime-kuma docker tag to v2.1.3 (#1…"
  k8s/deploy/uptime-kuma/main.yaml
Labels: area/kubernetes

Revert "feat(container): update louislam/uptime-kuma docker tag to v2.1.3" (#1753)
  k8s/deploy/uptime-kuma/main.yaml
Labels: area/kubernetes

Revert "feat(container): update louislam/uptime-kuma docker tag to v2.2.1 (#1…"
  k8s/deploy/uptime-kuma/main.yaml
Labels: area/kubernetes

Revert "feat(container): update louislam/uptime-kuma docker tag to v2.2.1" (#1780)
  k8s/deploy/uptime-kuma/main.yaml
Labels: area/kubernetes

Revert "feat(helm): update helm release metallb to v0.16.0 (#1866)"
  k8s/deploy/metallb/Chart.yaml
Labels: area/kubernetes

Revert "feat(helm): update helm release metallb to v0.16.0" (#1868)
  k8s/deploy/metallb/Chart.yaml
Labels: area/kubernetes

Revert "fix(helm): update helm release synology-csi to v0.11.2 (#1871)"
  k8s/deploy/synology-csi/Chart.yaml
Labels: area/kubernetes

Revert "fix(helm): update helm release synology-csi to v0.11.2" (#1874)
  k8s/deploy/synology-csi/Chart.yaml
Labels: area/kubernetes

feat: Adding HA MCP port
  k8s/deploy/home-assistant/main.yaml
Labels: area/kubernetes

fix(external-dns): Removing deprecated pihole-api-version flag
  k8s/deploy/external-dns/main.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"
          - .gitignore
area/ansible:
  - changed-files:
      - any-glob-to-any-file:
          - "ansible/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - "k8s/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file:
          - "terraform/**/*"
          - .terraformignore
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - README.md
          - LICENSE
